.card-list-item {
  border: thin solid darkgrey;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: x-large;
  flex-basis: 20%;
  margin: 1em 0;
  height: 15em;


  &:hover {
    &__image-container {
      transition: all 1s;
      transform: scale(1.05);
    }
  }


  &__image-container {
    flex-shrink: 0;
    border: thin solid darkgrey;
    height: 70%;
    width: 100%;
    overflow: hidden;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;




    //img {
    //  height: 100%;
    //  width: 100%;
    //}



  }

  &__image {
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
      transition: all 1s;
      transform: scale(1.05);
    }
  }

  &__card-image {
    display: none;
  }

  &__info-container {
    display: flex;
    justify-content: space-between;


    &__info-element {
      display: block;
      margin: 0.5em;
      font-size: 75%;


    }
  }

  &__tags-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 80%;

    &:hover {
      cursor: default;
      transition: all 1s;
      transform: scale(1.04);

    }
  }

  &__image-tag {

  }
}